<!DOCTYPE html>
<html lang="en">

  <% include partials/template/head.ejs %>
  <body id="index">
    <% include partials/template/navbar.ejs %>
    <div class="jumbotron">
      <h1 class="text-center">Simcha Fund</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2">
          <form id="addDonor" class="form-inline" method="post">
            <div class="form-group">
              <label for="donorName">Name</label>
              <input type="text" class="form-control" id="donorName" name="name" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
              <label for="donorAmount">Amount</label>
              <input type="number" class="form-control" id="donorAmount" name="amount" placeholder="$0.00" required>
            </div>
            <div class="form-group">
              <input type="hidden" class="form-control" id="id">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Donor
              </button>
            </div>
          </form>
        </div>
      </div>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading text-center"><strong>Donor List</strong></div>
        <table id="donorTable" class="table table-hover table-bordered">
          <thead>
            <th class="text-center">Name</th>
            <th class="text-center">Balance</th>
            <th></th>
          </thead>
          <tbody>
            <% donorData.forEach(function(data) { %>
            <tr>
              <% if(data.balance < 0){%>
                <td class="text-center negative"><%= data.name %></td>
                <td class="text-center negative">$<%= data.balance %></td>
              <% }else{ %>
                <td class="text-center "><%= data.name %></td>
                <td class="text-center positive">$<%= data.balance %></td>
            <% }  %>
              <td><a href="/donor/<%= data.id %>"><button class="editDonor text-right btn btn-xs btn-info">Edit</button></a></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
  </body>

</html>
