<!DOCTYPE html>
<html lang="en">

  <% include partials/template/head.ejs %>
  <body id="index">
    <% include partials/template/navbar.ejs %>
    <div class="jumbotron">
      <h1 class="text-center">Simcha Fund</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <% simchaData.forEach(function(data) { %>
          <h2 class="well well-lg text-center"><%= data.name %> - <%= data.type %>: Total $<%= data.balance%><br/><button id="deleteSimchaModal" type="button" class="text-right btn btn-xs btn-danger">Delete</button></h2>
          <div class="text-center">
            <a href="/allsimchas"><button class="btn btn-inverse" type="button" name="button">Go To All Simchas</button></a>
          </div>
          <br/>
          <div id="simchaId">
            <%= data.id %>
          </div>
          <div class="modal in deleteModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title text-center"><strong>Warning!</strong></h4>
                </div>
                <div class="modal-body">
                  <p class="text-center">Are you sure you want to delete the <%= data.name %> Simcha?</p>
                  <div class="row">
                      <div class="col-12-xs text-center">
                          <button id="deleteSimcha" class="btn btn-success btn-md">Yes</button>
                          <button id="modalNoButton" class="btn btn-danger btn-md">No</button>
                      </div>
                  </div>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
            <% }); %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form class="form-inline" method="post">
            <div class="form-group">
              <select  name="donorId" class="form-control" data-style="btn-info" required>
                <option value="" disabled selected style="display: none;">Select A Contributor</option>
                <% donorData.forEach(function(data) { %>
                  <option value="<%= data.id %>"><%= data.name %> ($<%= data.balance %> remaining)</option>
                <% }); %>
              </select>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" name="amount" class="form-control" id="amount" placeholder="Amount" required>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
          <br/>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center"><strong>Contributors</strong></div>
            <table id="donorTable" class="table table-hover table-bordered">
              <thead>
                <th class="text-center">Name</th>
                <th class="text-center">Donation</th>
              </thead>
              <tbody>
                <% detailData.forEach(function(data) { %>
                <tr>
                  <td class="text-center"><%= data.name %></td>
                  <td class="text-center">$<%= data.amount %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br/>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
      <script src="/js/simcha.js" charset="utf-8"></script>
  </body>

</html>
